/* ========================= FOOTER STYLES ======================== */
.footer-v3.bg-dark {
    background-color:  #27272A; 
}
.footer-v3 .text-info { color: #438BCF; }
.footer-v3 .text-secondary { color: #ccc; }
.footer-v3 .social-icons .icon-social img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.footer-v3 .social-icons .icon-social:hover img {
    transform: scale(1.3);
    opacity: 1;
}
.footer-v3 .icon-img-invert {
    filter: invert(36%) sepia(85%) saturate(301%) hue-rotate(180deg) brightness(97%) contrast(90%);
    opacity: 0.8; 
    transition: filter 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}
.footer-v3 .list-unstyled li:hover .icon-img-invert {
    opacity: 1;
    transform: translateX(3px); 
}
.footer-v3 .hover-link {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}
.footer-v3 .hover-link:hover {
    color: #438BCF;
    text-decoration: underline !important;
}
.footer-v3 .logo-footer-img {
    max-width: 700px;
    height: auto;
}