/* ========================= NAVBAR (START) ========================= */
ul.navbar-nav {
    border-top: 2px solid rgb(255 255 255 / 5%);
    border-bottom: 2px solid rgb(255 255 255 / 5%);
    border-left: 3px solid rgb(255 255 255 / 15%);
    border-right: 3px solid rgb(255 255 255 / 15%);
    border-radius: 10px;
    background-color: #1E293952;
}
#navbar-bs {
    background-color: #10182852;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(6px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}
.navbar-toggler {
        background: #ffffff;
}
#navbarNav .nav-link {
    padding: 0.7rem 1.5rem; 
    border-radius: 0.375rem;
    color: white; 
}

a.nav-link.fw-semibold {
    color: white;
}
#navbarNav .nav-link:hover {
    color: #0d6efd !important;
    background-color: rgba(13, 110, 253, 0.1);
}
#navbarNav .nav-link.active {
    color: #0d6efd !important;
    background-color: rgba(13, 110, 253, 0.15);
}

@media (max-width: 767.98px) {
    ul.navbar-nav {
        background-color: #1E2939; 
        border-radius: 0.5rem;
        margin-top: 1rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.4);
        padding: 0.5rem 0.2rem; 
        width: 100%; 
    }
    #navbarNav .nav-link {
        padding: 0.5rem 1rem;
        text-align: right;
    }
}
/* زر اللغة */
.lang-btn {
    background: transparent;
    border: 2px solid rgba(255,255,255,0.25);
    color: white;
    padding: 0.35rem 0.65rem;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang-btn:hover {
    border-color: #0d6efd;
    color: #0d6efd;
    background-color: rgba(13, 110, 253, 0.12);
}

/* القائمة المنسدلة */
.lang-dropdown {
    position: relative;
}

.lang-menu {
    position: absolute;
    top: 45px;
    right: 0;
    background: #1E293B;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 10px;
    padding: 0.4rem 0;
    list-style: none;
    min-width: 130px;
    display: none; /* مخفية */
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    z-index: 20;
}

.lang-menu li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
    transition: 0.3s;
}

.lang-menu li a:hover {
    background-color: rgba(13,110,253,0.15);
    color: #0d6efd;
}

/* عند فتح المنيو */
.lang-dropdown.active .lang-menu {
    display: block;
}

/* موبايل */
@media (max-width: 767.98px) {
    .lang-btn {
        padding: 0.3rem 0.5rem;
        font-size: 1rem;
    }
}
@media (min-width: 426px) and (max-width: 769px) {
    .navbar-container {
        justify-content: center !important;
    }
}

/* ========================= NAVBAR (END) ========================= */